.menu{
    background-color: aqua;
    color: black;
    padding: 10px;
    font-size: 20px;
    cursor:pointer;
    border: none;
}
.list {
    background-color: antiquewhite;
    padding: 25px;
    justify-content: space-between;
    display:none;
    /* its imaportant first we have to hide  */
    text-decoration: none;
}
.list a{
    color: black;
}
.list a:hover{
background-color: azure;
}
.main:hover .list{
    display: flex;
    /* on hover it will redirected to list property and make display flex */
}
*{
    box-sizing: border-box;
}

body{
    background-color: rgb(0, 0, 0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h3{
    color: white;
}
.topnav{
    overflow: hidden;
    background-color: black;
    padding: 10px;
}
.topnav a {
    float: left;
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
}
.search-container{
    float: right;
    /* border-radius: 170px; */
    margin-top: 17px;
}
form {
    background-color: black;
    width: 191px;
    height: 33px;
    display: flex;
    border-radius: 10px;
    align-items: center;
}
input{
all: unset;
font: 14px system-ul;
color: aliceblue;
height: 100%;
width: 100%;
padding: 6px 8px;
}

.thumbnail{
    height: auto;
    width: 100%;
    object-fit: cover;

    border-radius: 19px;
}
.coloum{
    float: left;
    width: 25%;
    height: 125vh;
    padding: 10px 10px;

}


.card{
    border-radius: 20px;
    padding: 15px;
    text-align: center;
    background-color: #211d1d;
}
.overview, .release-date, .popularity {
    margin: 10px 0;
    color: white;
}




@media (max-width: 600px) {
    .menu {
        font-size: 16px;
        padding: 8px;
    }

    .list a {
        padding: 10px;
        font-size: 18px;
    }

    .topnav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .search-container {
        width: 100%;
    }

    .search-container input {
        width: 90%;
        padding: 10px;
    }
    .coloum {
        overflow: hidden;
        display: flex;
        height: 30vh;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .card{
        height: 25vh;
        padding: 0;
    }
    
    h3 {
        color: white;
        font-size: 1.5vh;
    margin: .3vh;
    }
    
    .column p {
        color: white;
        margin-bottom: 10px;
        font-size: 1vh
    }
.overview{
    display: none;
}
.release-date, .popularity{
    font-size: 1vh;
    margin: 0;
}



}

/* ...existing code... */